* {
    padding: 0;
    margin: 0;
}

#container {
    position: relative;
    width: 60vw;
    height: 20vw;
    background-image: url(./clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border: 2px solid black;
    box-shadow: 5px 10px 20px black;
    border-radius: 6vw;
    margin-top: 10%;

}

#hour,
#minute,
#second {
    margin-top: 2%;
    float: left;
    width: 28.8880%;
    height: 100%;
    background-image: radial-gradient(circle at center, rgb(242, 92, 92) 0% 10%, salmon, yellow, transparent);
    -webkit-background-clip: text;
    color: transparent;
    /* border-right: 2px solid black; */
    font-size: 15vw;
    text-align: center;
    transition: all 0.5s;
    display: grid;

}

.colen {
    /* border: 2px solid black; */
    background-image: radial-gradient(rgb(172, 61, 172), wheat);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15vw;
    width: 5%;
    height: 100%;
    float: left;
    text-align: center;
    transition: all 0.5s;

}